@{
    ViewBag.Title = "Voting System";
}
<style>
    body {
        background-image: url('/Content/img/background.jpg');
        background-size: cover; /* <------ */
        background-repeat: no-repeat;
        background-position: center center; /* optional, center the image */
    }
</style>
<div class="panel-group" style="margin-top:30px;">
    <div class="panel panel-default">
        <div class="panel-heading">The Free Pint Referendum</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align:center;">
                        <h1>Would you like to have a free pint at the end of this session?</h1>
                        <img style="text-align:center;" src="~/Content/img/guinness.jpg" />
                    </div>
                    
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-md-12">
                    <div style="text-align:center;">
                        <a href="/Vote/Index" class="btn btn-primary">VOTE NOW!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

