@{
    ViewBag.Title = "Vote";
}

<div class="panel-group" style="margin-top:30px;">
    <div class="panel panel-default">
        <div class="panel-heading">Check Vote</div>
        <div class="panel-body">
            <form>
                <label>Badge ID</label>
                <input id="badgeid" type="text" class="form-control" />
            </form>
        </div>
        <div class="panel-footer">
            <button id="btnSave" class="btn btn-primary">Check</button>
        </div>
    </div>
</div>

@section scripts {
    
<script src="~/Content/js/vote.js"></script>
    
}


