@{
    ViewBag.Title = "Vote";
}

<style>
    body {
        background-image: url('/Content/img/background.jpg');
        background-size: cover; /* <------ */
        background-repeat: no-repeat;
        background-position: center center; /* optional, center the image */
    }
</style>
<div class="panel-group" style="margin-top:30px;">
    <div class="panel panel-default">
        <div class="panel-heading">Please, fill in your Badge ID below in order to vote...</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <label>Badge ID</label>
                        <input id="badgeid" type="text" class="form-control" />
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger" style="display:none;">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button id="btnSave" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>

<div id="modal-vote-success" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thank you!</h4>
            </div>
            <div class="modal-body">
                <p>Your vote was saved successfully!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts {
    
<script src="~/Content/js/vote.js"></script>
    
}


